:root {
	--primary: #07bc9c;
	--dark-primary: #01866e;
	--second: #454d59;
	--light-second: #898d94;
	--light: #e9ecef;
}

body {
	width: 100%;
}

main {
	padding-bottom: 5em;
}

header {
    box-shadow: 0px 0px 20px lightgrey;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 5em;
	text-align: center;
    box-shadow: 0px 0px 20px lightgrey;
}

.navbar-brand {
	font-size: 1.5em;
}

.nav-link {
	cursor: pointer;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: var(--primary);
}

.btn {
	background-color: var(--primary);
	background-image: linear-gradient(to right, #01866e, var(--primary), #01866e);
	transition: background-position 0.5s ease-out;
	background-size: 200%;
	color: white;
}

.btn:hover {
	background-position: 100% 0;
	color: white;
}

.btn:focus {
	box-shadow: 0 0 0 0.2rem rgb(7 188 156 / 25%);
}

.bg-prime {
	background-color: var(--primary);
	color: white;
}

.bg-second {
	background-color: #e9ecef;
}

.jumbotron {
	margin-bottom: 0;
}

.img-thumbnail {
	padding: 0;
	border-width: 0;
}

.about blockquote {
	border-left: 3px solid var(--dark-primary);
	color: var(--dark-primary);
}

.text-prime {
	color: var(--primary);
}

.text-light-second {
	color: var(--light-second);
}

.icon {
	height: 3rem;
	width: 3rem;
	fill: var(--second);
    transition: 0.5s ease-out;
}

.icon:hover {
	fill: var(--dark-primary);
}

/* small >576 */
@media (min-width: 576px) {
}
/* Medium >768 */
@media (min-width: 768px) {
}
/* large >992 */
@media (min-width: 992px) {
}
